<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<form id="indexes">
    <select id="dropDownId">
        <option value = "0">Select your Destination..</option>
        <option value="create">Create Indexes</option>
        <option value="delete">Delete Indexes</option>
    </select>
<input type="submit" value="Submit" class="index">
</form>

 <div id="results" > </div>

<script text="javascript">
$( "#indexes" ).submit(function( event ) {
  alert( "Handler for .submit() called." + $('#dropDownId :selected').val());
	if($('#dropDownId :selected').val() === "create") {
    $.ajax({
  		url: "/bin/solr/push/pages?indexType=indexpages",
  		type: 'GET'
	}) .done(function( data ) {
     $( "#results" ).empty();
    $( "#results" ).append( data );
  	});

    } else if($('#dropDownId :selected').val() === "delete") {
   		 $.ajax({
  			url: "/bin/solr/delete/all/indexes",
  			type: 'GET',
		}) .done(function( data ) {
        $( "#results" ).empty();
    	$( "#results" ).append( data );
  		});
     }
event.preventDefault();
});

</script>